# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [1]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
browser = Browser('chrome')

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [3]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [4]:
# define variable to contain website's html
html = browser.html

# Create a Beautiful Soup object and parse html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Extract all rows of data
all_rows = soup.find('table', class_='table')
# rows = table.find_all('tr')
# rows = table.find_all('tr', class_="data-row")

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Here’s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [7]:
# Create an empty list
mars_rows = [] 

# Loop through the scraped data to create a list of rows
for sibling in soup.find_all('table')[0].tr.next_siblings:
    row = []
    for td in sibling:        
        try:
            row.append(td.text.replace('\n', ''))                               
        except:
            continue
    if len(row) > 0:
        mars_rows.append(row)

In [8]:
cols = []

headers = all_rows.find_all('th')
for header in headers:
    cols.append(header.text)
print(cols)

['id', 'terrestrial_date', 'sol', 'ls', 'month', 'min_temp', 'pressure']

In [10]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
# df = pd.DataFrame(mars_rows, columns=[cols])

df = pd.DataFrame(mars_rows)
# df = pd.DataFrame(mars_rows, columns=cols)

In [11]:
# Confirm DataFrame was created successfully
df

     0     1  2           3  4     5  6    7  8  9  10     11 12     13 14
0           2     2012-08-16       10     155     6     -75.0     739.0
1          13     2012-08-17       11     156     6     -76.0     740.0
2          24     2012-08-18       12     156     6     -76.0     741.0
3          35     2012-08-19       13     157     6     -74.0     732.0
4          46     2012-08-20       14     157     6     -74.0     740.0
...  ..   ... ..         ... ..   ... ..  ... .. .. ..    ... ..    ... ..
1862     1889     2018-02-23     1973     133     5     -78.0     730.0
1863     1892     2018-02-24     1974     134     5     -77.0     729.0
1864     1894     2018-02-25     1975     134     5     -76.0     729.0
1865     1893     2018-02-26     1976     135     5     -77.0     728.0
1866     1895     2018-02-27     1977     135     5     -77.0     727.0

[1867 rows x 15 columns]

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [ ]:
# Examine data type of each column
type(df)

In [ ]:
# Change data types for data analysis

In [ ]:
# Confirm type changes were successful by examining data types again

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [ ]:
# 1. How many months are there on Mars?

In [ ]:
# 2. How many Martian days' worth of data are there?

In [ ]:
# 3. What is the average low temperature by month?

In [ ]:
# Plot the average temperature by month

In [ ]:
# Identify the coldest and hottest months in Curiosity's location

In [ ]:
# 4. Average pressure by Martian month

In [ ]:
# Plot the average pressure by month

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?

On average, the third month has the coldest minimum temperature on Mars, and the eighth month is the warmest. But it is always very cold there in human terms!

Atmospheric pressure is, on average, lowest in the sixth month and highest in the ninth.

The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. Internet search confirms that a Mars year is equivalent to 687 earth days.

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [ ]:
# Write the data to a CSV

In [ ]:
browser.quit()

In [ ]:
###############################################################################


# # Create an empty list
# mars_rows = []

# # Loop through the scraped data to create a list of rows
# for row in rows:
#     row_data = row.find_all('td')
# #     for data in row_data:
# #         mars_rows.append(data.text.strip())
#     mars_rows.append(row_data)
#     for _ in range(5):
#         test = row_data[_].text
#         mars_test.append(test)
# #     stripped = row_data[1].text
# #     print(stripped)
# mars_rows[1]

# # for child in soup.find_all('table')[0].children:
# #     row = []
# #     for td in child:        
# #         try:
# #             row.append(td.text.replace('\n', ''))                            
# #         except:
# #             continue
# #     if len(row) > 0:
# #         rows.append(row)


###############################################################################


# # Create an empty list
# mars_rows = []

# # Loop through the scraped data to create a list of rows
# for row in rows:
#     row_data = row.find_all('td')
# #     for data in row_data:
# #         mars_rows.append(data.text.strip())
#     mars_rows.append(row_data)
#     for _ in range(5):
#         test = row_data[_].text
#         mars_test.append(test)
# #     stripped = row_data[1].text
# #     print(stripped)
# mars_rows[1]

# # for child in soup.find_all('table')[0].children:
# #     row = []
# #     for td in child:        
# #         try:
# #             row.append(td.text.replace('\n', ''))                            
# #         except:
# #             continue
# #     if len(row) > 0:
# #         rows.append(row)# # # Create an empty list
# mars_test = []

# # # Loop through the scraped data to create a list of rows
# for row in rows:
#     rowdy = row.text
#     new_string = rowdy.replace("\n", ", ")
#     mars_test.append(new_string)
    

#     #     mars_rows.append(row.text)
# # #     for row in rows:
# # #     row_data = row.find_all('td')
# # #     for data in row_data:
# # #         mars_rows.append(data.text.strip())
# # #     mars_rows.append(row_data)
    
# mars_test